<% const { username, initials, role } = data; %>
<div class="header">
    <div class="title">Dashboard</div>
    <div class="header-actions">
      <div class="notification">
        <i class="fas fa-bell"></i>
        <div class="badge">3</div>
      </div>
      <div class="notification">
        <i class="fas fa-envelope"></i>
        <div class="badge">5</div>
      </div>
      <div class="user-profile">
        <div class="profile-img"><%= initials %></div>
        <div class="user-info">
          <div class="user-name"><%= username %></div>
          <div class="user-role"><%= role%></div>
        </div>
      </div>
    </div>
</div>