<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/dashboard.css" />
    
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <%- include('../partials/components/_sidebar', { role: user.role, activePage: 'users' }) %>

      <!-- Header -->
      <% const initials = user?.name.split(' ').map(word => word[0].toUpperCase()).join(''); %>
      <%- include('../partials/components/_header', {
        data: { name: user.name, username: user?.username, initials: initials, role: user?.role.toUpperCase() }
      }) %>

      <!-- Main Content -->
      <div class="main-content">
        <div class="page-title">
          <div class="title">Dashboard</div>
          <div class="action-buttons">
            <button class="btn btn-outline">
              <i class="fas fa-download"></i>
              Export
            </button>
            <button class="btn btn-primary">
              <i class="fas fa-plus"></i>
              Add New
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>